*{
	margin: 0;
	padding: 0;
	margin: 10px;
}

body{
	margin: 5%;
}

html{
	width: 100%;
}

header{
	box-sizing: border-box;
	width: 90%;
	background-color: #979797;
	display: inline-block;
	height: 10vw;
	float: left;
}

article{
	box-sizing: border-box;
	background: #979797;
	width: 60%;
	display: inline-block;
	height: 40vw;
	float: left;
	margin: 10px;
}

aside{
	box-sizing: border-box;
	background: #979797;
	width: 30%;
	display: inline-block;
	height: 40vw;
	margin: -2px;
}

.space{
	box-sizing: content-box;
	padding: 5px;
}

.clearfix{
	clear: both;
}

.black{
	background: #979797;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.pr{
 	position: relative;
	bottom: 10px;
}

.cpr{
	position: relative;
	margin-left: -10px;
}